p{
    color: red;
    font-size: 22pt;
}
#gruby{
    color: green;
    font-size: 17pt;
    text-decoration: double;
}
#dlawszystkich{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}